@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 35, 0, 17;
  --background-start-rgb: 246, 228, 217;
  --background-end-rgb: 254, 251, 234;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 246, 228, 217;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 35, 0, 17;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to top left,
      transparent,
      rgb(var(--background-start-rgb))
    )
    rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
